<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hackathons
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Rechercher"
      [(ngModel)]="searchTerm"
      showCancelButton="focus"
      animated>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let hackathon of hackathons | filter:searchTerm" (click)="displayDetails(hackathon)">
      <ion-avatar slot="start">
        <img src="{{hackathon.image}}" />
      </ion-avatar>
        <ion-label>
          <div class="item item-divider item-text-wrap" style="white-space: normal;">Thème : {{hackathon.theme}}</div>
          <p style="white-space: normal;">Début de l'hackathon : {{jsontoDate(hackathon.dateDebut.date)}}</p>
          <p>Fin de l'hackathon : {{jsontoDate(hackathon.dateFin.date)}}</p>
          <p>Nombre de places : {{hackathon.nbPlaces}}</p>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>