<ion-header>
  <ion-toolbar>
    <ion-title>Favoris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>Favoris</ion-title>
  </ion-toolbar>
  <ion-list *ngFor="let favoris of favoriteAtelierList">
    <ion-item>
      <ion-icon name="star" slot="start" (click)="removeFavorite(favoris)"></ion-icon>

      <ion-label>
        <div class="item item-divider item-text-wrap" style="white-space: normal;">Nom de l'evenement : {{favoris.nomEvenement}}</div>
        <p style="white-space: normal;">Début de l'atelier : {{jsontoDate(favoris.dateDebut.date)}}</p>
        <p>Fin de l'atelier : {{jsontoDate(favoris.dateFin.date)}}</p>
        <p>Nombre de places : {{favoris.nbPlacesRestantes}}/{{favoris.nbPlaces}}</p>
      </ion-label>
    </ion-item>

    <ion-card-subtitle>
      <ion-button *ngIf="today < jsontoDate(favoris.dateFin.date) && favoris.nbPlacesRestantes != 0" (click)="gotoFormulaireInscriptionAtelier(favoris.id, favoris.email)" expand="block">S'inscrire</ion-button>
      <ion-button (click)="gotoFormulaireCommentaire(favoris.id)" expand="block">Avis</ion-button>
      <ion-button (click)="gotoListeAvis(favoris.id)" expand="block">Voir avis</ion-button>
    </ion-card-subtitle>
  </ion-list>
</ion-content>
