<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hackat'Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Accueil</ion-card-title>
      <ion-card-subtitle>Bienvenue sur Hackat'Event</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Présentation</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle><ion-icon name="help-circle"></ion-icon>Définition</ion-card-subtitle>
      <ion-card-subtitle> Il s’agit d’un événement, où plusieurs personnes ayant diverses compétences vont se réunir, afin de créer des projets en équipe, sur une thématique précise en 2 à 3 jours.</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Visiter l'app ! </ion-card-title>
    </ion-card-header>

  
    <ion-button fill="clear">Activités</ion-button>
    <ion-button fill="clear">Hackathons</ion-button>
  </ion-card>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Speakers</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
