<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hackat'Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Accueil</ion-card-title>
      <ion-card-subtitle>Bienvenue sur Hackat'Event</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Présentation</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>
        <ion-icon name="help-circle"></ion-icon>Définition
      </ion-card-subtitle>
      <ion-card-subtitle> Il s’agit d’un événement, où plusieurs personnes ayant diverses compétences vont se réunir,
        afin de créer des projets en équipe, sur une thématique précise en 2 à 3 jours.</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Credit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle><ion-icon name="arrow-redo-outline"></ion-icon> Martin Frontera</ion-card-subtitle>
      <ion-card-subtitle><ion-icon name="arrow-redo-outline"></ion-icon> Romain Dugas</ion-card-subtitle>
      <ion-card-subtitle><ion-icon name="arrow-redo-outline"></ion-icon>  Swan Beauchene</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="accueil" routerLink="/accueil">
        <ion-icon name="home"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="hackathons" routerLink="/hackathon">
        <ion-icon name="people"></ion-icon>
        <ion-label>Hackathons</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>