<ion-header class="unselectable">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="unselectable">
  <ion-icon name="happy" slot="end"></ion-icon>
  <ion-label>
    <h2>{{hackathon.param1.theme}}</h2>
    <img src="{{hackathon.image}}">
    <br>
    <p><ion-icon name="hackathon-outline"></ion-icon> Description : {{hackathon.param1.description}}</p>
    <br>
    <p><ion-icon name="man-outline"></ion-icon> Date début : {{jsontoDate(hackathon.param1.dateDebut.date)}}</p>
    <br>
    <p><ion-icon name="people-outline"></ion-icon> Date fin : {{jsontoDate(hackathon.param1.dateFin.date)}}</p>
    <br>
    <p><ion-icon name="help-outline"></ion-icon> Heure début : {{jsontoHour(hackathon.param1.heureDebut.date)}}</p>
    <br>
    <p><ion-icon name="help-outline"></ion-icon> Heure fin : {{jsontoHour(hackathon.param1.heureFin.date)}}</p>
    <br>
    <p><ion-icon name="help-outline"></ion-icon> Lieu : {{hackathon.param1.lieu}}</p>
    <br>
    <p><ion-icon name="help-outline"></ion-icon> Rue : {{hackathon.param1.rue}}</p>
    <br>
    <p><ion-icon name="help-outline"></ion-icon> Ville : {{hackathon.param1.ville}}</p>
    <br>
    <p><ion-icon name="help-outline"></ion-icon> Nombre de places : {{hackathon.param1.nbPlaces}}</p>
  </ion-label>
</ion-content>
