<ion-header class="unselectable">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="unselectable">
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>{{hackathon.param1.theme}}</ion-card-title>
    </ion-card-header>
    <img src="{{hackathon.param1.image}}"/>
    <ion-card-content>
      <ion-card-subtitle>
        <ion-icon name="help-circle"></ion-icon> Description :
      </ion-card-subtitle>
      <ion-card-subtitle>{{hackathon.param1.description}}</ion-card-subtitle>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>
        <ion-icon name="calendar"></ion-icon> Horaires :
      </ion-card-subtitle>
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size-sm="3">Date Début</ion-col>
          <ion-col size-sm="3">Date Fin</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{jsontoDate(hackathon.param1.dateDebut.date)}}</ion-col>
          <ion-col>{{jsontoDate(hackathon.param1.dateFin.date)}}</ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col size-sm="3">Heure Début</ion-col>
          <ion-col size-sm="3">Heure Fin</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{jsontoHour(hackathon.param1.heureDebut.date)}}</ion-col>
          <ion-col>{{jsontoHour(hackathon.param1.heureFin.date)}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>
        <ion-icon name="business"></ion-icon> Lieu :
      </ion-card-subtitle>
      <ion-card-subtitle>{{hackathon.param1.lieu}}</ion-card-subtitle>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>
        <ion-icon name="help-circle"></ion-icon>Rue :
      </ion-card-subtitle>
      <ion-card-subtitle>{{hackathon.param1.rue}}</ion-card-subtitle>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>
        <ion-icon name="business"></ion-icon> Ville :
      </ion-card-subtitle>
      <ion-card-subtitle>{{hackathon.param1.ville}}</ion-card-subtitle>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>
        <ion-icon name="people"></ion-icon> Nombre de place :
      </ion-card-subtitle>
      <ion-card-subtitle>{{hackathon.param1.nbPlaces}}</ion-card-subtitle>
    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle>
         Voir les ateliers :
      </ion-card-subtitle>
      <ion-card-subtitle (click)="showAtelier()">
        <ion-button fill="outline" color="light" expand="block">Ateliers</ion-button>
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)="gotoPageAccueil()">
        <ion-icon name="home"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="hackathon" (click)="gotoPageHackathon()">
        <ion-icon name="people"></ion-icon>
        <ion-label>Hackathons</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
