<ion-header>
  <ion-toolbar>
    <ion-title>Ateliers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let atelier of ateliers.param1">
      <ion-label>
        <div class="item item-divider item-text-wrap" style="white-space: normal;">Nom de l'evenement : {{atelier.nomEvenement}}</div>
        <p style="white-space: normal;">Début de l'atelier : {{jsontoDate(atelier.dateDebut.date)}}</p>
        <p>Fin de l'atelier : {{jsontoDate(atelier.dateFin.date)}}</p>
        <p>Nombre de participants : {{atelier.nbPlaces}}</p>
      </ion-label>
      <ion-card-subtitle (click)="inscrire()">
        <ion-button fill="outline" color="light" expand="block">S'inscrire</ion-button>
      </ion-card-subtitle>
    </ion-item>
  </ion-list>

</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)="gotoPageAccueil()">
        <ion-icon name="home"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="hackathon" (click)="gotoPageHackathon()">
        <ion-icon name="people"></ion-icon>
        <ion-label>Hackathons</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
